@font-face {
  font-family: "Fixedsys";
  src: url('font/fsex300-webfont2.ttf') format('truetype');
}

body {
  margin: 0px;
  font-size: 14px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  background-color: #E0E0E0;
}

select {
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  font-family: 'Times New Roman', Times, serif;
}

.ticket {
  margin: 0px 50px 0px 50px;
  padding: 15px 0px 15px 0px;
}

.ticket * {
  margin: 5px 0px 5px 0px;
}

.ticket h2 {
  color: blue;
  padding-left: 20px;
}

.ticket h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.popup {
  position: fixed;
  height: 350px;
  width: 550px;
  background-color: white;
  border: 1px solid black;
  padding: 25px;
}

.popup button {
  position: absolute;
  top: 20px;
  left: 555px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 10%;
}

.hidden {
  display: none;
}